@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* ProductList */
/* 1. mainpage productlist */
.product-wrapper {
}

.product-wrapper .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 15%);
  overflow: hidden;
  margin: 10px 0;
  height: 100%;
}
.product-wrapper .product img {
  width: 90%;
  object-fit: cover;
  padding-top: 20px;
  margin-bottom: 50px;
}
.product-wrapper .product div {
  width: 100%;
}
.product-wrapper .product h4 {
  width: 100%;
  text-align: center;
  border-top: 2px solid #e2e2e2;
  padding-top: 7px;
}

.product-wrapper .product h4,
.product-wrapper .product p {
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
}

/* 2. detail productlist */
.list-wrapper {
  width: 150px;
}
.list-wrapper .product {
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.list-wrapper .product img {
  width: 100%;
  margin-bottom: 20px;
}
.list-wrapper .product div {
  width: 100%;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.list-wrapper .product h4,
.list-wrapper .product p {
  font-size: 16px;
  margin: 0;
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}

/* MainPage */
/* 1. banner */
.main-banner {
  position: relative;
}

.swiper {
  height: 600px !important;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide-active {
  width: 100% !important;
}

/* 2. menu */
.main-menu {
  width: 90%;
  height: 150px;
  margin: 20px auto;
}
.menu-wrapper {
  list-style: none;
  padding-left: 60px;
}
.main-menu li {
  width: calc(100% / 6 - 50px);
  height: 130px;
  float: left;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-menu li div {
  /* border: 2px solid #afabab; */
  border-radius: 15px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  box-shadow: 3px 3px 3px 3px #e2e2e2;
}

.main-menu li:first-child div img {
  width: 95%;
  margin-left: 3px;
  margin-top: 0px;
}

.main-menu li:nth-child(2) div img {
  width: 87px;
  margin-left: 2.2px;
  margin-top: 2.7px;
}

.main-menu li:nth-child(3) div img {
  width: 67%;
  margin-left: 16px;
  margin-top: 3px;
}

.main-menu li:nth-child(4) div img {
  width: 60%;
  margin-left: 19px;
  margin-top: 1.5px;
}
.main-menu li:nth-child(5) div img {
  width: 100%;
  margin-left: 1.5px;
  margin-top: 12px;
}
.main-menu li:nth-child(6) div img {
  width: 85%;
  margin-left: 6px;
}
.main-menu li span {
  font-size: 18px;
  font-weight: 500;
}

/* 3. item */
.item-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 90%;
  margin: 20px auto;
  padding-left: 40px;
  height: fit-content;
}

/* 4. button */
.btn-wrapper {
  width: 100%;
  margin: 50px 40%;
}
.btn-more {
  width: 20%;
  height: 42px;
  border-radius: 20px;
  color: white;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  font-size: 18px;
  font-weight: bold;
}
.btn-more:hover,
.btn-more:hover:focus {
  background-color: gray;
  border: 1px solid gray;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s;
}

/* Detailpage */
.container {
  /* background-color: aqua; */
  transform: translateY(60px);
}
.product-wrapper {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  width: 100%;
}
.product-wrapper .product-image {
  width: 65%;
}
.product-wrapper .product-image img {
  width: 100%;
}
.product-wrapper .product-info {
  width: calc(100% - 65%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 050px;
}
.product-wrapper .product-choice {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}
.product-wrapper .product-choice select {
  margin: 3px 0;
  font-size: 12px;
  height: 30px;
}
.product-info button:first-of-type {
  background-color: black;
  color: white;
  font-size: 8px;
  height: 45px;
  margin-bottom: 10px;
}
.product-info button:nth-of-type(2) {
  background-color: white;
  color: black;
  font-size: 8px;
  height: 45px;
  border: 1px solid black;
}
.last-product-wrapper {
  width: 100%;
  margin-bottom: 80px;
}
.last-product-wrapper .last-product {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.last-product-wrapper .last-product-list {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 2%;
  width: 600px;
}
