@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* ProductList */

.shose-list {
  width: 200px;
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}

/* MainPage */
.main-banner {
  position: relative;
}
/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
} */

.swiper {
  height: 485px !important;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.swiper-wrapper .swiper-slide-active {
  width: 100% !important;
}
